body{
  font-family: Verdana, sans-serif;
  height: 100vh;  /* Full viewport height */
    background-image: url('./assets/background.jpg');  /* Path to your background image */
    background-size: cover;   /* Ensures the image covers the full page */
    background-position: center;
    background-repeat: no-repeat;
    color: white;   /* Adjust text color based on your image */
    background-color: rgba(155, 206, 250, 0.5);
}

/* General styling */
.App {
  text-align: center;
  background-color: rgba(12, 15, 184, 0.005);
  margin: 0 auto;
  color: white;
  border-radius: 45px;
  padding: 20px;
  width: 650px;
  min-height: 300px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute; /* To position it at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* Links styling */
.navbar a {
  margin-left: 20px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  color: #f0a500; /* Change link color on hover */
}

/* Additional styling for login link to float right */
.login-link {
  margin-right: 20px;
}

