.booking-history {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.ticket {
  border: 2px solid #2c85ac;
  border-radius: 10px;
  width: 500px;
  margin: 20px 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  color: #000;
  text-align: start;
}

.ticket-section {
  display: flex;
  justify-content: space-between;
  border-top: 10px solid blue;
  border-bottom: 10px solid blue;
}

.ticket-left, .ticket-right {
  width: 45%;
}

.ticket-left p, .ticket-right p {
  margin: 5px 0;
  font-size: 14px;
}

.label {
  font-weight: bold;
  margin-bottom: 2px;
}

.ticket-left {
  border-right: 2px solid #e5e5e5;
  padding-right: 20px;
}

.ticket-right {
  padding-left: 20px;
}

.barcode {
  width: 100%;
  height: 50px;
  background: repeating-linear-gradient(
    90deg,
    #000,
    #000 2px,
    #fff 2px,
    #fff 4px
  );
  margin-top: 20px;
}

h2 {
  color: #2c85ac;
}

@media screen and (max-width: 600px) {
  .ticket {
    width: 100%;
    padding: 10px;
  }

  .ticket-section {
    flex-direction: column;
  }

  .ticket-left, .ticket-right {
    width: 100%;
    padding: 0;
  }

  .ticket-left {
    border-right: none;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .ticket-right {
    padding-top: 20px;
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0; /* Add some margin for spacing */
}

.label {
  font-weight: bold;
  margin-right: 10px; /* Space between label and answer */
  flex-basis: 30%; /* Adjust this to control width of labels */
}

.ticket-left p, .ticket-right p {
  margin: 0; /* Remove margin for paragraphs to avoid extra space */
  flex-basis: 70%; /* Adjust this to control width of answers */
}

.bookingTitle{
  color: rgb(255, 229, 192);
}


.label2 {
  font-weight: bold;
  margin-right: 10px; /* Space between label and answer */
  flex-basis: 30%; /* Adjust this to control width of labels */
  color: #2c85ac;
}

.tag2 {
  margin: 0; /* Space between label and answer */
  flex-basis: 70%; /* Adjust this to control width of labels */
  color: #2c85ac;
}