body {
    height: 100vh;  /* Full viewport height */
    background-image: url('./assets/background.jpg');  /* Path to your background image */
    background-size: cover;   /* Ensures the image covers the full page */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;   /* Adjust text color based on your image */
    text-align: center;
  }
  
  .homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content towards the top */
    align-items: center; /* Centers horizontally */
    height: 100vh; /* Full viewport height */
    padding-top: 20px; /* Add some padding from the top */
  }
  
  .homepage-container h1 {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  
  .homepage-container p {
    font-size: 1.5rem;
    margin-bottom: 100px;
    padding-top: 0%;
  }
  